<!-- <div class="sticky-top"> -->

<header class="p-3 mb-3 border-bottom fixed-top" style="height: 72px; box-shadow: 3.5px 3.5px 3.5px rgba(51, 49, 49, 0.25); background-color: white;">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <div class="container text-center">
            <img src="assets/images/logo_inshorts.png" width="130" height="55" class="text-center" style="margin-top: -5px;">
          </div>
      </div>
    </div>
</header>
<div class="fixed-top my-0" style="margin-top: -90px; height: 100%;">
    <app-sidenav (categoryEmit)="emitCategory($event)"></app-sidenav>
</div>



<!-- </div> -->